.structure-chart {
  &__header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;

    &-wrapper {
      margin-right: 0.5rem;
    }
  }

  &__scale-units {
    display: flex;
    justify-content: center;
    padding: 0 3px;
    height: 12px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
  }

  &__scale-labels {
    display: flex;
    justify-content: space-between;
    height: 12px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
  }

  &__sheet {
    position: relative;
    border-right: 1px solid black;
    border-left: 1px solid black;

    &-initial-message {
      display: none;
      color: rgba(0, 0, 0, 0.3);

      &_visible {
        display: block;
        padding: 10px;
      }
    }
  }

  &__structure {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &-header-button {
      position: absolute;
      top: 5px;
      right: 8px;
      display: flex;
    }

    &-header-wrap {
      position: absolute;
      top: 5px;
      left: 8px;
      padding: 0.2rem;
      max-width: 80%;
      border-radius: 0.2rem;
      background: #fff;
    }

    &-header-inner {
      margin-right: 0.2rem;
    }
  }

  &__icon-image {
    width: 40px;
    height: 40px;
  }

  &__modal-content {
    padding: 20px;
  }

  &__min-height-input,
  &__max-height-input {
    padding: 0 0 10px 0;
  }

  &__modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}
