.custom-multiselect {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 100, 158, 0.2);
  border-radius: 3px;

  &:hover {
    border: 1px solid rgba(0, 66, 105, 0.6);
  }

  &__select {
    display: flex;
    justify-content: space-between;
  }

  &__main-text {
    padding: 10px;
  }

  &__placeholder {
    padding: 10px;
    color: rgba(0, 0, 0, 0.3);
  }

  &__image {
    width: 38px;
    height: 38px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
  }
}
